@{
    ViewData["Title"] = "O aplikaciji";
}
<div>
    <h2>O aplikaciji</h2>
    <p>
        Projekt dostopen na GitHub repozitoriju:
        <a href="https://github.com/1tomy1/mojbus">
            https://github.com/1tomy1/mojbus
        </a>
    </p>
    <p>Projekt je bil izdelan v okvirju projekta PKP.</p>
    <p>&copy; 2018 - MojBus</p>
</div>