@{
    ViewData["Title"] = "Home Page";
}
<div class="text-center">
    <h1>ISKANJE PO POSTAJAH</h1>
</div>
@await Component.InvokeAsync("Stops")

<br/>

<div class="text-center">
    <h1>ISKANJE PO LINIJAH</h1>
</div>
@await Component.InvokeAsync("Routes")