@model List<Gtfsstops>
@{
    ViewData["Title"] = "Default";
    DateTime currentDate = DateTime.Now;
}
<div class="btn-group searchBar center-block">
    <input id="filterInput" class="form-control dropdown-toggle" onkeyup="filterMenu()" data-toggle="dropdown" placeholder="Išči" />
    <ul id="filterList" class="dropdown-menu pre-scrollable btn-block">
        @foreach (var item in Model)
        {
            <li>
                <a class="dropdown-item"
                   href="@Url.Action("Index","Stops",new
                    {
                        stopName = item.StopName,
                        directionId = item.StopDirectionId,
                        date = currentDate.Year+"-"+currentDate.Month.ToString("d2")+"-"+currentDate.Day.ToString("d2")
                    })">
                    @if (item.StopDirectionId == 1)
                    {
                        <img class="searchBarArrowImage" src="~/images/awayFromCity.svg"/>
                    }
                    else
                    {
                        <img class="searchBarArrowImage" src="~/images/toCity.svg"/>
                    }
                    @item.StopName
                </a>
            </li>
        }
    </ul>
</div>