@model List<Gtfsstops>
@{
    ViewData["Title"] = "Default";
    DateTime currentDate = DateTime.Now;
}
<div class="searchContainer">
    <div class="btn-group searchBar center-block">
        <input id="filterInput" class="form-control dropdown-toggle" onkeyup="filterMenu()" data-toggle="dropdown" placeholder="Išči" aria-describedby="tripPlanner" />
        <ul id="filterList" class="dropdown-menu pre-scrollable btn-block">
            @foreach (var item in Model)
            {
                <li>
                    <a class="dropdown-item"
                       href="@Url.Action("Index","Stops",new
                    {
                        stopName = item.StopName,
                        directionId = item.StopDirectionId,
                        date = currentDate.Year+"-"+currentDate.Month.ToString("d2")+"-"+currentDate.Day.ToString("d2")
                    })">
                        @if (item.StopDirectionId == 1)
                        {
                            <img class="searchBarArrowImage" src="~/images/awayFromCity.svg" />
                        }
                        else
                        {
                            <img class="searchBarArrowImage" src="~/images/toCity.svg" />
                        }
                        @item.StopName
                    </a>
                </li>
            }
        </ul>
    </div>
    <div id="accordion" class="input-group-addon tripPlannerAccordion">
        <div class="tripPlannerAccordionHeader">
            <img class="tripPlannerImage" src="~/images/tripPlanner.svg" alt="TripPlanner" />
        </div>
        <div class="tripPlannerAccordionMenu">
            <input class="form-control plannerInput" placeholder="Izberi začetno postajo" aria-describedby="tripPlanner" />
            <input class="form-control plannerInput" placeholder="Izberi končno postajo" aria-describedby="tripPlanner" />
            <div id="datepicker" class="datePickerContainer"></div>
            <button class="btn redButton btn-block">IŠČI</button>
        </div>
    </div>

</div>