@model List<StopDataModel>
@{
    ViewData["Title"] = "Index";
}
@{DateTime time = DateTime.Now;}

<h2>Postaje:</h2>
<div class="row">
    @foreach (var item in Model)
    {
        <table style="width:100%; border:solid;">
            <tr>
                <td style="text-align:center; vertical-align:middle !important;" width="10%" rowspan="1">@item.TripShortName</td>
                <td class="text-center">@item.TripHeadsign</td>
            </tr>
            <tr>
                <td />
                <td id="departureTime">
                    @foreach (string departureTime in item.DepartureTimes@*.Where(x => (time.Hour < Convert.ToInt32(x.Substring(0, 2)) && time.Minute < Convert.ToInt32(x.Substring(3, 2))) || (x.Length >= 6 && x.Substring(6, 2) == "+1"))*@)
{
<span>@departureTime</span>
}
                </td>
            </tr>
        </table>
        <br />
    }
</div>


