@model List<StopDataModel>
@{
    ViewData["Title"] = "StopDataForRouteTrip";
    string tempTime = "0";
}

<div class="text-center">
    <h1>Linijski vozni red za postajo @ViewData["StopName"]:</h1>
</div>

<div class="text-center">
    @foreach (var item in Model)
    {
        @if (item != null)
        {
            tempTime = item.DepartureTimes.First().Substring(0, 2);
            <h2>
                @item.TripShortName
                @item.TripHeadsign
            </h2>
            <div>
                @foreach (string departureTime in item.DepartureTimes)
                {
                    if (departureTime.Substring(0, 2) != tempTime)
                    {
                        <br />
                        tempTime = departureTime.Substring(0, 2);
                    }
                    <span>@departureTime</span>
                }
            </div>
        }
        else
        {
            <h2>NE VOZI NA TA DAN</h2>
        }
    }
</div>