@model ForgotPasswordViewModel
@{
    ViewData["Title"] = "Forgot your password?";
}

<div class="row">
    <div class="col-md-4 col-md-offset-4 text-center">
        <h2>Pozabljeno geslo</h2>
        <form asp-action="ForgotPassword" method="post">
            <div asp-validation-summary="All" class="text-danger"></div>
            <div class="form-group">
                <input asp-for="Email" class="form-control forgottenPassEmail" placeholder="E-mail" />
            </div>
            <button type="submit" class="btn btn-danger">POŠLJI</button>
        </form>
    </div>
</div>

@section Scripts {
    @await Html.PartialAsync("_ValidationScriptsPartial")
}
