@{
    ViewData["Title"] = "Forgot password confirmation";
}

<div class="row">
    <div class="col-md-4 col-md-offset-4 text-center">
        <h2>Potrditev ponastavitve gesla</h2>
        <p>
            Navodila za ponastavitev gesla so bila poslana na vnešen e-mail naslov.
        </p>
    </div>
</div>
